<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'users/info', user: @user %>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
  		    <td><%= link_to user_path(@showbook.user) do %>
            <%= attachment_image_tag @showbook.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg" %><br>
            <%= @showbook.user.name %>
            <% end %>
          </td>
          <td><%= link_to @showbook.title, book_path(@showbook) %></td>
          <td><%= @showbook.body %></td>
          <% if @showbook.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@showbook), class: "btn btn-sm btn-success edit_book_#{@showbook.id}" %></td>
          <td><%= link_to 'Destroy', book_path(@showbook), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@showbook.id}"%></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>